PORT=3001
HTTP_PORT=80
CLIENT_URL=https://localhost:5173/
CORS_ORIGINS=https://localhost:5173/
CORS_ALLOW_NO_ORIGIN=true
API_BASE_URL=https://localhost:3001/
NODE_ENV=development
SESSION_SECRET=s080lpMgvEFuPw3H6OSor5w07hUn1Cm5GAOM36EU-VxryCumwRQkwjHXRh2B_F5K
SSL_KEY_PATH=certs/gestartes.key
SSL_CERT_PATH=certs/gestartes.crt
HSTS_MAX_AGE=31536000
LOG_LEVEL=info
INTERNAL_API_TOKEN=
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
DATABASE_URL="sqlserver://gestartes-sql.database.windows.net;database=gestArtes-sql-dev;user=gestArtes-admin;password=S%9w8Aq2bi*Q83$5p@@U;encrypt=true;trustServerCertificate=true;"